@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background-color: #db3434 !important; /* Updated to a shade of blue */
}

.nav-link {
  color: #fcfdfc !important;
  font-size: 20px !important /* Updated to a shade of green */
}

.navbar-brand {
  color: #fdfdfd !important;
  font-size: 20px !important /* Updated to a shade of orange */
}

.navbar-nav {
  margin-left: auto !important;
}

.smallimg {
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
}

h1 {
  font-size: 20px !important;
}

.btn {
  border: 0px solid #e74c3c !important; /* Updated to a shade of red */
  background-color: #34495e !important; /* Updated to a shade of dark blue */
  color: #ecf0f1 !important; /* Updated to a shade of light gray */
  box-shadow: none !important;
}

.bs {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px !important;
  border-radius: 5px !important;
  padding: 20px !important;
}

.bigimg {
  height: 400px;
  border-radius: 5px !important;
}

input,
select,
.ant-picker {
  box-shadow: none !important;
  margin-top: 10px;
  border: 2px solid #000000 !important; /* Updated to a shade of blue */
  width: 100% !important;
  border-radius: 3px !important;
  height: 35px !important;
}

h2 {
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #000000 !important; /* Updated to a shade of red */
}

.dropdown-toggle {
  border: 0px solid #f39c12 !important; /* Updated to a shade of orange */
  background-color: #f39c12 !important; /* Updated to a shade of orange */
}

.bi-person {
  font-weight: bold !important;
  color: #2ecc71 !important; /* Updated to a shade of green */
}

.bi-list {
  font-weight: bold !important;
  font-size: xx-large;
  color: #fbfaf9 !important; /* Updated to a shade of orange */
}

.ant-picker-input input {
  border: none !important;
}

p{
  font-size: 15px;
}